@use "./base/resolutions.scss" as *;
.btn {
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  border: none;

  &:hover,
  &:focus-visible {
    cursor: pointer;
  }

  &.--one {
    color: var(--c-text);
    background-color: var(--c-main);

    &:hover,
    &:focus-visible {
      background-color: var(--c-button-one-hover);
    }
  }

  &.--two {
    color: var(--c-text-and-button-two-hover);
    background-color: transparent;
    border: 1px solid currentColor;

    &:hover,
    &:focus-visible {
      color: var(--c-text);
      background-color: var(--c-text-and-button-two-hover);
      border-color: transparent;
    }
  }

  &.--three {
    position: relative;
    padding: 0;
    color: var(--c-text-transparent);
    background-color: transparent;

    &:hover,
    &:focus-visible {
      color: var(--c-main);
    }

    &::after {
      content: "";
      display: inline-block;
      margin-left: 1.33rem;
      width: 0.8rem;
      height: 1rem;
      background-image: url("../assets/shared/desktop/icon-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.--nav {
      @include desktopSmall {
        display: none;
      }
    }
  }

  &.--four {
    color: var(--c-text);
    background-color: var(--c-text-and-button-two-hover);
    border: 1px solid transparent;

    &:hover,
    &:focus-visible {
      color: var(--c-text-and-button-two-hover);
      background-color: transparent;
      border-color: currentColor;
    }
  }
}
