@use "./base/resolutions.module.scss" as *;

.checkout-section {
  background-color: var(--c-background-one);

  @include tablet {
    margin-bottom: 11.6rem;
    &.--no-auth {
      margin-bottom: initial;
    }
  }
  @include desktopSmall {
    margin-bottom: 14.1rem;
    &.--no-auth {
      margin-bottom: initial;
    }
  }
}
