@use "../base/resolutions.scss" as *;

.cart {
  display: grid;
  gap: 3.2rem;
}

.cart-top {
  display: flex;
  justify-content: space-between;

  &__heading {
    font-size: 1.8rem;
    line-height: initial;
    letter-spacing: 0.129rem;
  }

  &__remove-button {
    position: relative;
    color: var(--c-text-transparent);
    background: transparent;
    border: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: var(--c-border-color);
    }

    &:hover,
    &:focus-visible {
      cursor: pointer;
      color: var(--c-main);

      &::after {
        background-color: var(--c-main);
      }
    }
  }
}

.products-list {
  display: grid;
  gap: 2.4rem;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(-1 * (3.2rem - 2.4rem));

  &__price-category {
    text-transform: uppercase;
    color: var(--c-text-transparent);
  }
  &__price {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: initial;
  }
}
