@use "../base/resolutions.module.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include desktopSmall {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;

    &.--auth {
      flex-direction: column;
      align-items: normal;
    }
  }
}

.checkout {
  padding: 2.4rem 2.4rem 3.1rem 2.4rem;
  background-color: var(--c-background-three);
  border-radius: 0.8rem;

  @include tablet {
    padding: 3rem 2.75rem;
  }
  @include desktopSmall {
    width: 65.5%;
  }
  &__heading {
    margin-bottom: 3.2rem;
    @include tablet {
      font-size: 3.2rem;
      line-height: 1.1;
      letter-spacing: 0.114rem;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  &__details-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__labels-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &.--auth {
        grid-template-columns: 1fr;
      }
    }

    &.--shipping {
      @include tablet {
        & :nth-child(1) {
          grid-column: 1/3;
        }
      }
    }

    &.--radio {
      gap: 1.7rem;

      @include tablet {
        & :nth-child(1) {
          grid-column: 1/2;
          grid-row: 1/3;
        }
      }
    }
    &.--cash-on {
      grid-template-columns: 1fr;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    border-color: var(--c-border-color);
    cursor: pointer;

    &.--radio {
      flex-direction: row;
      align-items: center;
      padding: 1.9rem 2.4rem;
      border: 0.1rem solid var(--c-border-color);
      border-radius: 0.8rem;

      &::before {
        content: "";
        display: block;
        height: 2rem;
        width: 2rem;
        border: 0.1rem solid var(--c-border-color);
        border-radius: 50%;
      }
      &:has(input[type="radio"]:checked) {
        border-color: var(--c-main);
        &::before {
          background: radial-gradient(
            0.75em circle at center,
            var(--c-main) 50%,
            transparent 55%
          );
        }
      }
    }

    &.--error {
      border-color: var(--c-form-error);
      color: var(--c-form-error);
    }
  }

  &__label-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__radio-title,
  &__label-title,
  &__label-error {
    font-size: 1.2rem;
    letter-spacing: -0.21px;
    line-height: initial;
  }
  &__radio-title,
  &__label-title {
    font-weight: bold;
  }

  &__input {
    padding: 1.9rem 2.4rem;
    border: 1px solid;
    border-color: inherit;
    border-radius: 0.8rem;
    font-weight: bold;

    &:focus {
      outline: none;
      border-color: var(--c-main);
    }

    &.--radio {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px !important;
      overflow: hidden;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
    }
  }

  &__wrong-data-error {
    text-align: center;
    color: var(--c-form-error);
  }
}

.payment-info {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: auto 1fr;
  color: var(--c-text-transparent);
}
