@use "../base/resolutions.scss" as *;

.header {
  background-color: var(--c-background-two);
}

.container {
  position: relative;
  padding-block: 3.3rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__nav {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: start;
    }

    @include desktopSmall {
      justify-content: space-between;
    }
  }
  &__nav-button {
    background-color: transparent;
    border: none;
    &:hover,
    &:focus-visible {
      cursor: pointer;
    }
  }

  &__burger-button {
    @include tablet {
      margin-right: 4.2rem;
    }
    @include desktopSmall {
      display: none;
    }
  }

  &__burger-open-button {
    &[aria-expanded="true"] {
      display: none;

      ~ .nav-menu {
        translate: 0;

        @media (prefers-reduced-motion) {
          opacity: 1;
        }
      }
    }

    &[aria-expanded="false"] {
      + .container__burger-close-button {
        display: none;
      }
    }
  }

  &__auth-and-cart-buttons {
    display: flex;
    gap: 1rem;

    @include tablet {
      gap: 4.2rem;
      margin-left: auto;
    }
    @include desktopSmall {
      margin-left: initial;
    }
  }
}

.nav-menu {
  position: fixed;
  z-index: 1;
  background-color: var(--c-background-transparent);
  top: 9.1rem;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  translate: 100vw 0;
  transition: translate 0.5s ease-in-out;

  @include desktopSmall {
    position: static;
    background-color: transparent;
    width: auto;
    translate: 0;
  }

  &__item-list-container {
    padding-block: 8.1rem 3.5rem;
    background-color: var(--c-background-one);

    @include tablet {
      padding-block: 10.9rem 6.7rem;
    }

    @include desktopSmall {
      padding-block: 0;
      background-color: transparent;
    }
  }
}
