@use "../base/resolutions.scss" as *;

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    position: fixed;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: var(--c-background-transparent);
  }

  &.--full {
    &:after {
      top: 0rem;
    }
  }
}

.modal-wrapper {
  position: relative;
}

.modal {
  position: absolute;
  top: 9rem;
  right: 0;
  width: 100%;
  max-width: 32.7rem;
  margin-top: 2.4rem;
  margin-left: auto;
  padding: 3.2rem 2.8rem;
  background-color: var(--c-background-three);
  border-radius: 0.8rem;

  @include tablet {
    max-width: 37.7rem;
  }
}
